* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homescreenContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: #ffdbb9;
}

.homescreenContainer img {
  position: absolute;
  right: 80px;
  width: 200px;
  bottom: 100px;
}

.homescreenContainer h1 {
  font-size: 80px;
  text-align: center;
}

.startKnop {
  background-color: #ffcfa3;
  padding: 10px 150px;
  border-radius: 100px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 35px;
  border: none;
  display: inline-block;
  background-color: #ffcfa3;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categorieLijst {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 10px;
}

#options {
  display: flex;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.categorieKeuze {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4b183;
  color: black;
  text-decoration: none;
  padding: 30px;
  border-radius: 50px;
  width: 220px;
  height: 150px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.categorieKeuze:hover {
  background-color: #ee9b58;
  transform: scale(1.05);
}

.resultatenContainer {
  display: flex;
  align-items: center;
  background-color: #ffdbb9;
  height: 100vh;
  flex-direction: column;
}

.resultatenContainer h1 {
  font-size: 100px;
}
